.center {
  text-align: center;
}

.searchRadio {
  display: flex;
  background-color: #fafafa;
  text-align: center;
  justify-content: center;
}

.radio_label {
  width: 100%;
  margin: 2px;
  font-size: 0.8rem;
  color: #9e9e9e;
  cursor: pointer;
}

.radio_label input[type="radio"] {
  display: none;
}

.radio_label input[type="radio"]+span {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #fff;
  align-items: center;
  justify-content: space-evenly;
}

.radio_label input[type="radio"]:checked+span {
  background: #98dde3;
  color: #fff;
}

.search_container {
  display: flex;
  background-color: #fafafa;
}

.search_input {
  width: 100%;
}

.search_input input[type="text"] {
  background-color: white;
  border: none;
  outline: none;
  height: 2.2rem;
  width: 100%;
  font-size: 0.875rem;
  box-sizing: content-box;
  text-align: center;
}

.search_button {
  color: #98dde3;
  background-color: white;
  min-height: 26px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_button {
  color: #9e9e9e;
}

/* ListCard */
.card {
  display: flex;
  padding: 4px;
  width: 100%;
  box-shadow: rgb(31 38 135 / 10%) 0px 8px 32px 0px;
}

.card>img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  object-fit: cover;
  background-color: white;
  border: 1px solid #CECECE;
}

.placeCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  align-items: flex-start;
  justify-content: space-around;
}


.card_Icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info_icon {
  color: #e0e0e0;
  width: 0.875rem;
}

.add_icon {
  color: black;
}

/* cardModal */

.background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: 99;
  text-align: center;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.inDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

p {
  white-space: pre-line
}

/* Modal */
.mainModalContainer {
  width: 60vw;
  height: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socialBtnContainer {
  position: absolute;
  bottom: 5%;
  left: 15%;
}

.socialBtnContainer>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.socialBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  cursor: pointer;
  margin-right: 10px;
}

.socialBtn img {
  max-height: 48px !important;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
  width: 100%;
  font-size: 0.875rem;
}

.closeBtn {
  position: absolute;
  top: 2%;
  right: 1%;
  transform: translate(-1%, -2%);
  background-color: white;
  cursor: pointer;
}