/* MyFriends.tsx */

.myFriends {
  margin: 5vw;
}

.myFriendsTitle {
  display: flex;
}

.addFriendsButton {
  width: 8.5rem;
  height: 2.5rem;
  margin-left: auto;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  background-color: #98dde3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.myFriendsList {
  height: 15rem;
  display: grid;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: 13% 25% 25% 13%;
  grid-template-areas:
    "profile friendEmail friendShareRoute ."
    "profile friendNickname . ."
    "profile . . deleteFriend";
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 4px 2px 8px rgba(0, 0, 0, 0.06);
  padding: 2%;
  box-sizing: border-box;
  justify-content: center;
  column-gap: 5rem;
  margin-bottom: 2%;
}

.friendInfo:nth-child(1) {
  grid-area: profile;
  border-radius: 70%;
  overflow: hidden;
}

.profileImg {
  width: 100%;
  height: 100%;
}

.friendInfo {
  display: flex;
  align-items: center;
}

.friendInfo:nth-child(2) {
  grid-area: friendEmail;
}

.friendInfo:nth-child(3) {
  grid-area: friendNickname;
}

.friendInfo:nth-child(4) {
  grid-area: friendShareRoute;
}

.friendInfo:nth-child(5) {
  grid-area: deleteFriend;
  display: flex;
  width: 100%;
  height: 100%;
}

.friendInfo:nth-child(5) > Button {
  margin-left: auto;
  width: 80%;
  height: 100%;
}

/* MyFriendsAdd.tsx */

.myFriendsAdd {
  width: 22vw;
  height: 50vh;
}

.titleText {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.designBox {
  width: 0.7rem;
  height: 1.5rem;
  background-color: #98dde3;
  margin-right: 0.3rem;
}

.inputBox {
  display: flex;
}

.emailInput {
  margin-right: 0.5rem;
  width: 100%;
}

/* MyFriendsSearchItem.tsx */

.myFriendsSearchItem {
  width: 100%;
  height: 12vh;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-rows: 30% 30%;
  grid-template-columns: 15% 45% 25%;
  grid-template-areas:
    "searchImg searchNickname searchBtn"
    "searchImg searchEmail searchBtn";
  box-sizing: border-box;
  column-gap: 1rem;
  margin: 2rem 0 1rem;
  box-shadow: 0px -2px 80px rgba(0, 0, 0, 0.07), 0px -0.835552px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px -0.446726px 17.869px rgba(0, 0, 0, 0.0417275), 0px -0.250431px 10.0172px rgba(0, 0, 0, 0.035),
    0px -0.133002px 5.32008px rgba(0, 0, 0, 0.0282725), 0px -0.0553451px 2.21381px rgba(0, 0, 0, 0.0196802);
  padding: 0.2rem;
}

.searchInfo:nth-child(1) {
  grid-area: searchImg;
  border-radius: 70%;
  overflow: hidden;
}

.searchImg {
  width: 100%;
  height: 100%;
}

.searchInfo:nth-child(2) {
  grid-area: searchNickname;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: auto;
  align-items: center;
}

.searchInfo:nth-child(3) {
  grid-area: searchEmail;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: auto;
}

.searchInfo:nth-child(4) {
  grid-area: searchBtn;
}
