.Container {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 53px);
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  display: block !important;
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 50px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}

.center {
  text-align: center;
}

.InfoMenu {
  position: relative;
  width: 100%;
}

.InfoMenu ul {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.InfoMenu ul>li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: darkgray;
}

.InfoMenu ul>.focused {
  color: black;
}

.lineLeft {
  position: absolute;
  left: 0;
  width: 60%;
  height: 3px;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background: #98DDE3;
}

.lineRight {
  position: absolute;
  right: 0;
  width: 60%;
  height: 3px;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background: #98DDE3;
}

@keyframes slide-left {
  0% {
    transform: translateX(80%);
  }

  100% {
    width: 50%;
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-80%);
  }

  100% {
    width: 50%;
    transform: translateX(0);
  }
}